/*#contact-icon {
	padding: 1%;
	height: 50px;
	width: 100%;
	clear: both;
}*/
/* Medium Devices, Desktops */
@media only screen and (min-width: 993px) and (max-width : 1024px) {
	#contact-icon { background-color: #0096 !important; }
	.logo { width: 15%; }
	nav { width: 46%; }
	.notAlertLog { width: 30%; }
	.td-box-slider:nth-child(4) { bottom: 25%; }
	.td-box-slider:nth-child(5) { bottom: 23%; }
	.truadvo-table thead th { padding: 1%; }
	.folderView { width: 25%; }
	.right-content-send-msg input[type="text"] { width: 52%; }
	.right-content .circle-num { width: 20%; }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1025px) and (max-width : 1200px) {
	#contact-icon { background-color: #050 !important; }
	.logo { width: 15%; }
	nav { width: 46%; }
	.notAlertLog { width: 30%; }
	.td-box-slider:nth-child(4) { bottom: 25%; }
	.td-box-slider:nth-child(5) { bottom: 23%; }
	.truadvo-table thead th { padding: 1%; }
	.folderView { width: 25%; }
	.right-content-send-msg input[type="text"] { width: 52%; }
	.right-content .circle-num { width: 20%; }
}
/* (1280x1024) SXGA Display */
@media  screen and (min-width: 1201px) and (max-width: 1280px) {
   #contact-icon { background-color: #009568 !important; }
   .logo { width: 15%; }
	nav { width: 46%; }
	.notAlertLog { width: 30%; }
	.td-box-slider:nth-child(4) { bottom: 25%; }
	.td-box-slider:nth-child(5) { bottom: 23%; }
	.truadvo-table thead th { padding: 1%; }
	.folderView { width: 25%; }
	.right-content-send-msg input[type="text"] { width: 52%; }
	.right-content .circle-num { width: 20%; }

}
/* (1366x768) WXGA Display */
@media  screen and (min-width: 1281px) and (max-width: 1366px) {
    /* insert styles here */
	#contact-icon { background-color: #ff5722 !important; }
}
/* (1440x900) WXGA+ Display */
@media  screen and (min-width: 1367px) and (max-width: 1440px) {
    /* insert styles here */
	#contact-icon { background-color: #08f7f3 !important; }
}
/* (1600x900) HD+ Display */
@media  screen and (min-width: 1441px) and (max-width: 1600px) {
    /* insert styles here */
	#contact-icon { background-color: #795548 !important; }
}
/* (1680x1050) WSXGA+ Display */
@media  screen and (min-width: 1601px) and (max-width: 1680px) {
    /* insert styles here */
	#contact-icon { background-color: #9e9e9e !important; }
}
/* (1920x1080) Full HD Display */
@media  screen and (min-width: 1681px) and (max-width: 1920px) {
	#contact-icon { background-color: #607d8b !important; }
}